{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.xml {:mvn/version "0.0.8"}
        clygments/clygments {:mvn/version "2.0.2"}
        no.cjohansen/powerpack {:mvn/version "2024.01.06"}}
 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {kaocha-noyoda/kaocha-noyoda {:mvn/version "2019-06-03"}
                     lambdaisland/kaocha {:mvn/version "1.87.1366"}}}
  :server {:main-opts ["-m" "parenteser.dev"]}
  :ancient {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
            :main-opts ["-m" "depot.outdated.main"]}
  :build {:main-opts ["-m" "parenteser.export"]
          :exec-fn parenteser.export/export}}}
