{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.xml {:mvn/version "0.0.8"}
        clygments/clygments {:mvn/version "2.0.2"}
        no.cjohansen/powerpack {:git/url "https://github.com/cjohansen/powerpack"
                                :sha "876cb2e2d8ec72b4837c35b9c7bbe1a454a5d6ac"}}
 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {babashka/fs {:mvn/version "0.5.26"}
                     kaocha-noyoda/kaocha-noyoda {:mvn/version "2019-06-03"}
                     lambdaisland/kaocha {:mvn/version "1.87.1366"}}
        :jvm-opts ["-Djava.awt.headless=true"]}
  :portfolio {:extra-paths ["portfolio" "dev-resources"]
              :extra-deps {cider/piggieback {:mvn/version "0.5.3"}
                           com.bhauman/figwheel-main {:mvn/version "0.2.18"}
                           no.cjohansen/portfolio {:mvn/version "2024.03.18"}}}
  :server {:main-opts ["-m" "parenteser.dev"]}
  :ancient {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
            :main-opts ["-m" "depot.outdated.main"]}
  :build {:main-opts ["-m" "parenteser.export"]
          :exec-fn parenteser.export/export}}}
