[{:page/uri "/"
  :page/kind :page.kind/frontpage
  :open-graph/title "Parenteser"
  :open-graph/description "Betraktninger fra Mat-teamets grønne enger"
  :open-graph/image "/images/bananadev.png"}]
