[{:tag/id :bakoverkompatibilitet
  :tag/slug "bakoverkompat"}
 {:tag/id :clojure
  :tag/description "Clojure er et data-drevet funksjonelt
  programmeringsspråk. En Lisp, atpåtil. Clojure er laget for å kjøre på en
  vertsplattform, typisk JVM-en på backend og JavaScript/nettlesere på frontend.
  Vi i Team Mat bygger det aller meste i Clojure og skriver titt og ofte om å
  jobbe i dette dynamiske og interaktive språket vi er så glad i."
  :tag/image "/images/clojure.svg"}
 {:tag/id :css          :tag/name "CSS"}
 {:tag/id :fk-is        :tag/name "FK/IS"
  :tag/title "Funksjonell Kjerne / Imperativt Skall"
  :tag/description "Arkitekturen vår består av en kjerne full av deilig
 testbare, sideeffektfrie, lett forståelige, rene funksjoner, innenfor et skall
 av generelt \"skriv det én gang\"-maskineri. Det er [bra greier](https://youtu.be/ag603CBk2TY). "}
 {:tag/id :html :tag/name "HTML"} {:tag/id :javascript :tag/name "JavaScript"}
 {:tag/id :koer :tag/name "Køer"} {:tag/id :nats :tag/name "NATS"}
 {:tag/id :sok :tag/name "Søk"} {:tag/id :statisk-html :tag/name "Statisk HTML"}
 {:tag/id :static-html :tag/name "Static HTML"} {:tag/id :ux :tag/name "UX"}]
