[{:tag/id :arbeidsmiljo     :tag/name "Arbeidsmiljø"}
 {:tag/id :css              :tag/name "CSS"}
 {:tag/id :html             :tag/name "HTML"}
 {:tag/id :javascript       :tag/name "JavaScript"}
 {:tag/id :nats             :tag/name "NATS"}
 {:tag/id :responsiv-design :tag/name "Responsiv design"}
 {:tag/id :sok              :tag/name "Søk"}
 {:tag/id :statisk-html     :tag/name "Statisk HTML"}
 {:tag/id :ux               :tag/name "UX"}
 ]
