[#:datetime
 {:short-date [:fn/format-date [:fn/param] "d. MMMM y"]}

 #:i18n
 {:lookup [:fn/get :nb]}

 #:parenteser.blog-post-page
 {:series-next-prelude "Lyst til å lese videre? Her er det neste innlegget i serien:"
  :series-start-prelude "Gikk du glipp av starten? Her er det første innlegget i serien:"
  :series-latest-prelude "Her er det siste innlegget i serien:"}

 #:parenteser.blog-posts
 {:vcard-tags [:span "Om " [:fn/enumerate [:fn/get :tags]]]
  :vcard-authors [:fn/enumerate [:fn/get :authors]]}

 #:parenteser.frontpage
 {:page-title "Parenteser – Betraktninger fra Mat-teamets grønne enger"
  :into-title "Jøss, er du her også?"
  :info-text [:div
              [:p "Trivelig at du stakk innom. Vi er et lite produktteam hos Mattilsynet som jobber med mattrygghet. Her er vår tidvis tekniske blogg hvor vi deler litt av hva vi jobber med, og ting vi lærer på veien."]
              [:p "Så, hvorfor akkurat " [:strong "Parenteser"] "? Vel, vi jobber mye i Clojure, som har rykte på seg å være belemret med unødvendige mengder parenteser. Men nei, ikke bare er de nødvendige, de er aldeles smakfulle - som to fine bananer i headeren. Vi tenker også at disse bloggpostene kommer litt på siden - litt i parentes, om du vil."]]
  }

 #:parenteser.layout
 {:atom-feed-title "Parenteser – Team Servering sin blogg"
  :footer-hiccup [:div
                  [:p "Har du innspill eller tanker? Kontakt gjerne "
                   [:a {:href "mailto:magnar.sveen@mattilsynet.no"} "Magnar"]
                   " eller "
                   [:a {:href "mailto:christian.johansen@mattilsynet.no"} "Christian"]
                   " på e-post."]
                  [:p "Innleggene speiler våre personlige meninger. Vi snakker ikke for hele Mattilsynet, akkurat."]]
  :header-title "Parenteser"
  :header-slogan "Betraktninger fra Mat-teamets grønne enger"
  :page-title [:fn/str "{{:title}} – Parenteser"]
  }

 #:parenteser.pages
 {:not-found-heading "404 WAT"
  :not-found-title "Fant ikke siden!"
  }

 #:parenteser.series-page
 {:part-n [:fn/str "Del {{:n}}:"]
  :title [:fn/str "{{:title}} – Parenteser"]
  }

 #:parenteser.tag
 {:title [:fn/str "Innlegg om " [:fn/get :tag/name]]
  }
 ]
