[#:parenteser.layout
 {:atom-feed-title "Parenteser – Team Mat sin blogg"
  :footer-hiccup [:div
                  [:p "Har du innspill eller tanker? Kontakt gjerne "
                   [:a {:href "mailto:magnar.sveen@mattilsynet.no"} "Magnar"]
                   " eller "
                   [:a {:href "mailto:christian.johansen@mattilsynet.no"} "Christian"]
                   " på e-post."]
                  [:p "Innleggene speiler våre personlige meninger. Vi snakker ikke for hele Mattilsynet, akkurat."]]
  }
 ]
