[#:parenteser.frontpage
 {:page-title "Parenteser – Betraktninger fra Mat-teamets grønne enger"
  :into-title "Jøss, er du her også?"
  :info-text [:div
              [:p "Trivelig at du stakk innom. Vi er et lite produktteam hos Mattilsynet som jobber med mattrygghet. Her er vår tidvis tekniske blogg hvor vi deler litt av hva vi jobber med, og ting vi lærer på veien."]
              [:p "Så, hvorfor akkurat " [:strong "Parenteser"] "? Vel, vi jobber mye i Clojure, som har rykte på seg å være belemret med unødvendige mengder parenteser. Men nei, ikke bare er de nødvendige, de er aldeles smakfulle - som to fine bananer i headeren. Vi tenker også at disse bloggpostene kommer litt på siden - litt i parentes, om du vil."]]
  }

 #:parenteser.layout
 {:atom-feed-title "Parenteser – Team Mat sin blogg"
  :footer-hiccup [:div
                  [:p "Har du innspill eller tanker? Kontakt gjerne "
                   [:a {:href "mailto:magnar.sveen@mattilsynet.no"} "Magnar"]
                   " eller "
                   [:a {:href "mailto:christian.johansen@mattilsynet.no"} "Christian"]
                   " på e-post."]
                  [:p "Innleggene speiler våre personlige meninger. Vi snakker ikke for hele Mattilsynet, akkurat."]]
  :header-title "Parenteser"
  :header-slogan "Betraktninger fra Mat-teamets grønne enger"
  }
 ]
