:root {
  --jet: #363636;
  --smoky: #0A0908;
  --athens: #e6e9f0;
  --athens-tr: rgba(230, 233, 240, 0.7);
  --mystic: #eef1f5;

  --ruby: #e8175d;
  --lima: #72B01D;
  --denim: #1384e2;
  --fulvors: #e28413;
  --lightbw: #f9f9fc;
  --manatee: #999ca0;

  --fg-color: var(--smoky);
  --dark-fg-color: var(--lightbw);
  --section-bg: #fff;
  --section-fg: var(--smoky);
  --link-color: var(--denim);
  --code-bg: var(--lightbw);
  --code-contrast: var(--lima);
  --header-bg: var(--mystic);
  --header-fg: var(--fg-color);
  --code-high-contrast: var(--jet);
  --quote-border: var(--ruby);
  --subtle: var(--manatee);
  --byline-border: var(--athens);
  --byline-color: var(--manatee);
  --teaser-border: var(--athens);
  --hl-comment: var(--lima);
  --hl-preproc-comment : var(--denim);
  --hl-keyword: var(--denim);
  --hl-constant: var(--denim);
  --hl-declaration: var(--denim);
  --hl-namespace: var(--denim);
  --hl-pseudo: var(--denim);
  --hl-reserved: var(--denim);
  --hl-type: var(--fulvors);
  --hl-string: var(--ruby);
  --hl-class : var(--fulvors);
  --hl-word : var(--denim);
  --hl-backtick-string : var(--ruby);
  --hl-string-char: var(--ruby);
  --hl-string-doc: var(--ruby);
  --hl-string-double: var(--ruby);
  --hl-string-escape: var(--ruby);
  --hl-string-heredoc: var(--ruby);
  --hl-string-interpol: var(--ruby);
  --hl-string-other: var(--ruby);
  --hl-string-regex: var(--ruby);
  --hl-string-single: var(--ruby);
  --hl-string-symbol: var(--ruby);
  --hl-macro: var(--ruby);
  --hl-core-fn: var(--denim);
  --hl-variable: var(--denim);
  --hl-number: var(--denim);
  --hl-s-exp: var(--ruby);
  --hl-special-form: var(--lima);
  --hl-reader-char: var(--ruby);
  --hl-nil: var(--denim);
  --hl-repeat: var(--ruby);
  --hl-regexp: var(--ruby);
  --hl-exception: var(--lima);
  --hl-boolean: var(--lima);
  --hl-character: var(--denim);
  --hl-conditional: var(--lima);
}
